################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/QandA/QandA/bin/Debug/netcoreapp3.0
/backend/QandA/QandA/obj/Debug/netcoreapp3.1
/backend/QandA/QandA/obj/Debug/netcoreapp3.0/staticwebassets
/backend/QandA/QandA/obj/Debug/netcoreapp3.0
/backend/QandA/QandA/bin/Debug/netcoreapp3.1
/backend/QandA/BackendTests/bin/Debug/netcoreapp3.1
/backend/QandA/BackendTests/obj
